.guessNum-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.guessInner-container {
  border: 2px solid green;
  padding: 26px;
  border-radius: 10px;
}

.guessNum-container h1 {
  color: rgb(33, 155, 33);
}

.guessNum-container input {
  width: 90%;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px black solid;
}

.decision {
  color: green;
}
