.virtual-keyboard-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  box-sizing: border-box;
}

.input-text {
  width: 100%;
  height: 100px;
  border: 1px gray solid;
  border-radius: 14px;
  font-size: 26px;
  margin-bottom: 16px;
}

.row .mykey {
  padding: 30px;
  background-color: black;
  font-size: 24px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-keyboard {
  padding: 16px;
  border-radius: 6px;
  background-color: gray;
  width: fit-content;
}

.row .mykey:hover {
  transform: scale(102%);
}

.mykey img {
  width: 24px;
  height: 24px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  margin-bottom: 10px;
}

.row:last-child {
  margin-bottom: 0;
}

.space-key,
.shift-key,
.backspace-key,
.enter-key {
  flex-grow: 1;
}

.screen-warning {
  display: none;
}

@media (max-width: 1200px) {
  .row .mykey {
    padding: 16px;
    font-size: 20px;
  }

  .row {
    gap: 4px;
    margin-bottom: 6px;
  }
}

@media (max-width: 720px) {
  .main-keyboard {
    display: none;
  }

  .screen-warning {
    display: block;
  }
}
